.speech{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color:black;
}
.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color:black;
    color:honeydew;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color:black;
}
.direction:hover{
    background-color: cadetblue;
    color: brown;
}
.VAL{
    color: blue;
}
.ELI{
    color: chocolate;
}
table{
    width: max-content;
    border: 2px solid aquamarine;
    margin:20px;
    border-collapse: collapse;
}
th, td {
    text-align:center;
    border: 2px solid;
    padding: 15px;
}
tr:nth-child(even) {
    background-color: brown;
}
.VAL:hover {
    filter:blur(1px);
    border:3px blue;
    box-shadow:2px 2px blueviolet;
}
.ELI:hover{
    filter:blur(1px);
    border:3px blue;
    box-shadow:2px 2px blueviolet;  
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li {
    float:left;
    background-color: darkviolet;
}
ul.navbar-horizontal a {
    display:block;
    padding:8px;
    color: floralwhite;
}
ul.navbar-horizontal a:hover {
    background-color: darkslateblue;
    color:yellowgreen;
}
.icon{
    float:right;
}

