.speech{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color:black;
}
.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color:black;
    color:honeydew;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color:black;
}
.direction:hover{
    background-color: cadetblue;
    color: brown;
}
.VAL{
    color: blue;
}
.ELI{
    color: chocolate;
}